<nav class="navbar" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <!-- Logo -->
        <h1 id="site-name" class="logo">
          <a href="/">
            <div id="logo">
              <!--[if gte IE 9]><!-->
                <%= image_tag 'Chorus_logo2.png' %> 
            </div>
          </a>
        </h1>
      </div>
    </div><!-- /.container-fluid -->
</nav>


<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active carousel-indicator"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="carousel-indicator"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="carousel-indicator"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
<!-- 1st PANEL -->
        <div class="item active">
          <div class="container">
            <div class="row">
              <iframe width="600" height="338" class="video col-sm-6" src="https://www.youtube.com/embed/YvrQ_5US2vc?autoplay=1" frameborder="0" allowfullscreen></iframe>
              <div class="carousel-caption caption-1 col-sm-5 col-sm-offset-4">
                <h1>Chorus - Crowdsource Power</h1>
                <p>A simple, fun, and effective way to make a difference in your community. Give your political representatives a performance review.</p>
                <p>Exercise your rights – get heard! The government will listen when you say it in Chorus. Keep in touch. </p>
                
              </div>
            </div>
          </div>
        </div>
<!-- 2nd PANEL -->
        <div class="item">
          <div class="container">
            <div class="row">
              <div class="carousel-caption caption-2 col-sm-5 col-sm-offset-4">
                <h1>Why Join Chorus?</h1>
                <h2>Make effective advocacy simple</h2>
                <p>Hold representatives responsible in a way that online petitions cannot. Easily organize around a cause without the labor of door-to-door canvassing or hosting rallies (or supplement your existing advocacy, engaging people who might otherwise be too busy to participate.)</p>
                <h2>Contacting your representatives shouldn’t be confusing</h2>
                <p>Whatever your issue, we’ll make sure to convey your message to the right representatives. No research necessary on your part. No waiting endlessly for a .gov website to load.</p>
              </div>
              <iframe width="600" height="338" class="video col-sm-6" src="https://www.youtube.com/embed/YvrQ_5US2vc?autoplay=1" frameborder="0" allowfullscreen></iframe>

            </div>
          </div>
        </div>
<!-- 3rd PANEL -->
        <div class="item">
          <div class="container">
            <div class="row">
              <iframe width="600" height="338" class="video col-sm-6" src="https://www.youtube.com/embed/YvrQ_5US2vc?autoplay=1" frameborder="0" allowfullscreen></iframe>

              <div class="carousel-caption caption-3 col-sm-5 col-sm-offset-4">
                <h2>Bring Accountability to government</h2>
                <p>Our ratings are based on concrete performance addressing the issues people care about most. We recognize representatives who are dedicated to serving their constituents – and expose those who aren’t.</p>
                <p>Your government will listen when you say it in Chorus.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
<!--         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span> -->
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
<!--         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span> -->
      </a>
    </div><!-- /.carousel -->


<div class="container cta">
  <div class="row">
    <article class="cta col-sm-12 col-md-12">
      <p>Like us on Facebook and subscribe to our email newsletter!</p>
      <br>
          <%= render 'form' %>
    </article>
  </div>
</div><!-- /.container--> 


<!-- ORIGINAL VERSION 5/5/16 -->

<!-- <nav class="navbar" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header"> -->
        <!-- Logo -->
     <!--    <h1 id="site-name" class="logo">
          <a href="/">
            <div id="logo"> -->
              <!--[if gte IE 9]><!-->
         <!--        <%= image_tag 'Chorus_logo2.png' %> 
            </div>
          </a>
        </h1>
      </div> -->
    <!-- </div>/.container-fluid -->
<!-- </nav> -->



<!-- Page Content -->
<!-- <a class="voverlay" href="http://www.youtube.com/v/xDV5ormH-fE?autoplay=1&rel=0&enablejsapi=1&playerapiid=ytplayer" title="Chorus">
  <%= image_tag 'steve_jobs_placeholder.png', id:"background" %>
  <span></span>
</a> -->

<!-- <a href="#" data-toggle="modal" data-target="#videoModal" data-theVideo="http://www.youtube.com/embed/loFtozxZG0s">
  <%= image_tag 'steve_jobs_placeholder.png', id:"background" %>
</a> -->
<!-- Modal -->
<!-- <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                    <iframe width="900" height="600" src="" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">></iframe>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <br> -->





