<nav class="navbar" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <!-- Logo -->
        <h1 id="site-name" class="logo">
          <a href="/">
            <div id="logo">
              <!--[if gte IE 9]><!-->
                <%= image_tag 'Chorus_logo2.png' %> 
            </div>
          </a>
        </h1>
      </div>
    </div><!-- /.container-fluid -->
</nav>


<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
<!--         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span> -->
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
<!--         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span> -->
      </a>
    </div><!-- /.carousel -->


<div class="container">
  <div class="row">
    <article class="col-sm-12 col-md-12">
      <p>Join our waiting list.</p>
      <br>
          <%= render 'form' %>
    </article>
  </div>
</div><!-- /.container--> 


<!-- ORIGINAL VERSION 5/5/16 -->

<!-- <nav class="navbar" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header"> -->
        <!-- Logo -->
     <!--    <h1 id="site-name" class="logo">
          <a href="/">
            <div id="logo"> -->
              <!--[if gte IE 9]><!-->
         <!--        <%= image_tag 'Chorus_logo2.png' %> 
            </div>
          </a>
        </h1>
      </div> -->
    <!-- </div>/.container-fluid -->
<!-- </nav> -->



<!-- Page Content -->
<!-- <a class="voverlay" href="http://www.youtube.com/v/xDV5ormH-fE?autoplay=1&rel=0&enablejsapi=1&playerapiid=ytplayer" title="Chorus">
  <%= image_tag 'steve_jobs_placeholder.png', id:"background" %>
  <span></span>
</a> -->

<!-- <a href="#" data-toggle="modal" data-target="#videoModal" data-theVideo="http://www.youtube.com/embed/loFtozxZG0s">
  <%= image_tag 'steve_jobs_placeholder.png', id:"background" %>
</a> -->
<!-- Modal -->
<!-- <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                    <iframe width="900" height="600" src="" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">></iframe>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <br> -->





