<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @prospect.email %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @prospect.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @prospect.lname %>
</p>

<%= link_to 'Edit', edit_prospect_path(@prospect) %> |
<%= link_to 'Back', prospects_path %>
